:root {
    --primary-color: #2E86AB;
    --secondary-color: #F39237;
    --background-color: #F9F7F3;
    --text-color: #333333;
    --button-color: #E94C6F;
    --buttonhover-color: #D44163;
  }
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .counter {
    text-align: center;
  }
  
  h1 {
    font-size: 4em;
    color: var(--secondary-color);
  }
  
  button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
  }
  button:hover{
    color: var(--buttonhover-color);
  }